<h1>New comment</h1>
<%= form_with model: @comment, url: user_post_comments_path do |form| %>
    <div class="user-comment">
    <%= form.label :text %>
    <%= form.text_area :text %>
    <%= form.submit class:"cmt-btn" %>
    </div>
<% end %>